name: CI/CD - CarStoreBack (Tests + SonarCloud + Deploy EC2)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main", "master"]

concurrency:
  group: deploy-main
  cancel-in-progress: true

jobs:
  test_and_sonar:
    name: Build and analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=lehhh_Lehhh_CarCore -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml


  build_and_push:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: Build & Push Docker (ECR)
    runs-on: ubuntu-latest
    needs: [test_and_sonar]
    outputs:
      image_uri: ${{ steps.build.outputs.image_uri }}
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
      - uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a
        with:
          aws-access-key-id:     ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:            us-east-2

      - uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076
        id: ecr

      - name: Build & push
        id: build
        env:
          REGISTRY: ${{ steps.ecr.outputs.registry }}
          REPO: car-core     # <<< TROQUE para o repo do BACK no ECR (ex: car-back)
          TAG: ${{ github.sha }}
        run: |
          set -euo pipefail
          IMAGE_URI="${REGISTRY}/${REPO}:${TAG}"
          echo "image_uri=${IMAGE_URI}" >> "$GITHUB_OUTPUT"
          docker build -t "$IMAGE_URI" .
          docker push "$IMAGE_URI"


  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: Deploy EC2
    runs-on: ubuntu-latest
    needs: [build_and_push]
    steps:
      - uses: actions/checkout@v4

      - name: Upload docker-compose.yml to EC2
        uses: appleboy/scp-action@917f8b81dfc1ccd331fef9e2d61bdc6c8be94634
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          source: "docker-compose.yml"
          target: ${{ secrets.EC2_APP_DIR }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script_stop: true
          script: |
            set -euo pipefail
            APP_DIR="${{ secrets.EC2_APP_DIR }}"
            cd "$APP_DIR"
            
            # IMAGE_URI vem do envs:
            APP_IMAGE=${{ needs.build_and_push.outputs.image_uri }}
            
            {
              echo "APP_IMAGE=$APP_IMAGE"
              echo "DB_HOST=${{ secrets.DB_HOST }}"
              echo "DB_PORT=${{ secrets.DB_PORT }}"
              echo "DB_NAME=${{ secrets.DB_NAME }}"
              echo "DB_USER=${{ secrets.DB_USER }}"
              echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}"
              echo "ADMIN_EMAIL=${{ secrets.ADMIN_EMAIL }}"
              echo "ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}"
              echo "CARSTORE_VIEW_BASE_URL=${{ secrets.CARSTORE_VIEW_BASE_URL }}"
              echo "SPRING_PROFILES_ACTIVE=${{ secrets.SPRING_PROFILES_ACTIVE }}"
              echo "JWT_ISSUER=${{ secrets.JWT_ISSUER }}"
              echo "JWT_PRIVATE_KEY=${{ secrets.JWT_PRIVATE_KEY }}"
              echo "JWT_PUBLIC_KEY=${{ secrets.JWT_PUBLIC_KEY }}"
            } > .env
            
            awk -F= '/^(JWT_PRIVATE_KEY|JWT_PUBLIC_KEY)=/ {print $1, "len=" length($2)}' .env
            
            ECR_REGISTRY="$(echo "$APP_IMAGE" | cut -d/ -f1)"
            docker network inspect carstore_net >/dev/null 2>&1 || docker network create carstore_net
            aws ecr get-login-password --region "us-east-2" | docker login --username AWS --password-stdin "$ECR_REGISTRY"
            docker compose --env-file .env pull
            docker compose --env-file .env up -d --no-build
            docker image prune -f
